/* === PAGE / CONTENT WRAPPER === */
.page__container {
  max-width: 800px;
  width: auto;
  min-height: 300px;
  text-align: center;
  border: 10px solid $muricaWhite;
  background-color: $muricaBlue;
  padding: 50px;
  margin: 30px auto auto;
  position: relative;

  @include for-size(desktop-up) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
  }
}
