/* === PAGE / CONTENT WRAPPER === */
.page__wrapper {
  @include for-size(phone-only) {
    margin: 10px;
  }

  @include for-size(tablet-portrait-up) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.page__container {
  max-width: 800px;
  width: auto;
  text-align: center;
  border: 5px solid $muricaWhite;
  background-color: $muricaBlue;
  padding: 25px;

  @include for-size(tablet-portrait-up) {
    border: 10px solid $muricaWhite;
    padding: 50px;
  }
}

q {
  &:before {
    content: '“';
  }

  &:after {
    content: '”';
  }
}
