/* === VARIABLES === */
$muricaRed:     #E0162B;
$muricaWhite:   #FFFFFF;
$muricaBlue:    #0052A5;
$muricaBlueer:  #0022A1;

/* Font Stack */
$font-stack:      Merriweather, 'Josefin Slab', 'Times New Roman', serif;

/* Font Sizes */
$quote-l:         28px;
$quote-m:         $quote-l - 10;
$quote-author-l:  $quote-m - 2;
$quote-author-m:  $quote-author-l - 2;
$button-more-l:   $quote-author-l;
$button-more-m:   $quote-author-m;
